.product-listing {
  width: 100%;
  height: 100%;
  padding: 1rem 0.5rem;
  display: flex;
  gap: 1rem;
}

.products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 18rem);
  justify-content: center;
  gap: 0.5rem;
}
