* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #1b1b1b;
  --font-color-light: var(--clr-grey-10);
  --font-color-dark: var(--clr-grey-900);

  --font-color-tint1: var(--clr-grey-600);
  --font-color-tint2: var(--clr-grey-400);

  --border-color: var(--clr-grey-40);
  --bg-color: #faf9f8;
  --bg-color-a8: rgba(250, 249, 248, 0.8);

  --primary-color-a5: rgba(27, 27, 27, 0.7);

  --transition-one: all 0.4s linear;
  --transition-two: 0.3s ease-in-out all;
  --borderRadius: 10px;
  --letterSpacing: 1px;
  --max-width: 1120px;
  --fixed-width: 500px;
  --fluid-width: 90vw;
}

@media (max-width: 800px) {
  html {
    font-size: 90%;
  }
}

a {
  background: transparent;
}

body {
  font-family: serif, sans-serif;
  background: var(--bg-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.png-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.png-placeholder {
  width: 20rem;
  object-fit: cover;
  text-align: center;
}

.main-container {
  min-height: 80vh;
}